<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

<section class="custom-height d-flex align-items-center justify-content-center text-white text-center gradient-bg position-relative">
  <div>
      <img src="1.jpg" class="rounded-circle bordered-image" alt="Ishmeet Singh">
      <h1 class="display-4">Hi, I'm Ishmeet Singh</h1>

      <!-- Social Icons Container -->
      <div class="social-icons">
          <a href="https://in.linkedin.com/in/ishmeet-singh-74846b193?trk=people-guest_people_search-card" target="_blank">
              <i class="fab fa-linkedin fa-2x"></i>
          </a>  
          <a href="mailto:your-email@gmail.com" target="_blank">
              <i class="fas fa-envelope fa-2x"></i>
          </a>
      </div>

      <p class="lead">Software Engineer | Angular Enthusiast</p>
      <a href="#projects" class="btn btn-light btn-lg mt-3">View Projects</a>
  </div>
  <div class="curve"></div>
</section>
