<section class="custom-height d-flex align-items-center justify-content-center text-white text-center gradient-bg position-relative">
    <div class="curve"></div>


    <div class="project-container position-relative " style="z-index: 10;">
        <div class="project-body ">
            <section id="projects" style="background-color: linear-gradient(135deg, #00c6ff, #0072ff); padding: 50px 0; position: relative; z-index: 5;">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <br>
                            <br>
                            <h1 style="font-family: Arial, sans-serif; color: #ffffff; text-align: left;">Project Complements</h1>
                            <p style="font-family: Arial, sans-serif; font-size: 18px; color: #f8f8f8; text-align: left;">
                               I have had the opportunity to work on various impactful projects. My ability to work with a wide array of technologies and tools has allowed me to contribute to the success of these projects. Below are some of the projects that I have completed:
                            </p>
                            <p style="font-family: Arial, sans-serif; font-size: 18px; color: #fefefe; text-align: left;">
                                <strong>Notable Projects:</strong>
                            </p>
                            <ul style="font-family: Arial, sans-serif; font-size: 18px; color: #ffffff; text-align: left;">
                                <li><STRONG>Salary Slip Project :</STRONG> Developed a high-performance salary slip application using Oracle APEX for scratch with help of PL/SQL,HTML,CSS,JavaScript.</li>
                                <li><STRONG>ABAP Report :</STRONG> Using SAP ABAP i have developed Employee-Master Report using Interal table and ABAP in S4HANA .</li>
                                <li><STRONG>D2K :</STRONG> Developed Customer-Master,Item-Master,Order-Master integrated D2k Forms with the help of PL/SQL.</li>
                                <li><STRONG>Angular Web Application :</STRONG> Developed Self-portfoilio using ,HTML,CSS,JavaScript,Angular.</li>
                                <li><STRONG>Front End Applicaton:</STRONG> Developed a Front-end page using HTML,CSS,JavaScript which is basically for Hotel management called Dream Hotel. </li>
                            </ul>
                            <p style="font-family: Arial, sans-serif; font-size: 18px; color: #ffffff; text-align: left;">
                                I am committed to providing high-quality work and ensuring the successful completion of every project I take on.
                            </p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="curve1"></div>
</section>



  