
<footer class="footer">
    <div class="container">
      <div class="row">
        
       
        <div class="col-md-4">
          <h5>About Us</h5>
          <p>I am a dedicated Software Engineer with a broad range of technical expertise and a passion for delivering innovative solutions. 
            With a strong foundation in software development and systems integration.</p>
        </div>
        
        
        <div class="col-md-4">
          <h5>Quick Links</h5>
          <ul class="list-unstyled">
            <li class="nav-item"><a class="nav-link" href="#home">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
        <li class="nav-item"><a class="nav-link" href="#projects">Projects</a></li>
        <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
          </ul>
        </div>
        
       
        <div class="col-md-4">
          <h5>Contact Me</h5>
          <p><strong>Email: </strong> 
            <a [href]="'mailto:' + email">{{ email }}</a> </p> 
          <p> <strong> Phone:</strong> +918076691278</p>
          <p> <strong> Address: </strong> Kalkaji , New Delhi-110019</p>
        </div>
      </div>
    </div>
    
    
    <div class="footer-bottom text-center">
      <p>&copy; 2025 Ishmeet's Portfolio Rights Reserved.</p>
    </div>
  </footer>